body {
    display: flex;
    font-family: 'Inter', sans-serif;
    height: 100vh;
}




.main-add-task {
    margin-left: 232px;
    margin-top: 96px;
    min-height: calc(100vh - 96px);
    padding: 48px 64px;
    overflow: hidden;
    box-sizing: border-box;

}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.help-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.help-icon:hover {
    transform: scale(1.25);
}

.user-avatar-icon {
    width: 40px;
    height: 40px;
}

.user-avatar-icon:hover {
    filter: brightness(0.90);
}

main {
    flex: 1;
    background: #F5F6F7;
    overflow-y: auto;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

.add-task-section {
    background: #F5F6F7;
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1200px;
    margin: 0 auto;
}


input,
textarea,
select {
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    padding: 12px;
    resize: vertical;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    scrollbar-width: none;
}

.task-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 48px;
    width: 100%;
    margin-top: 16px;
    max-width: 1200px;
}

.divider {
    width: 1px;
    background-color: #D1D1D1;
    margin: 0 24px;
    align-self: stretch;
}

.form-left,
.form-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

label {
    font-size: 16px;
    font-weight: 500;
    color: #2A3647;
    ;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 48px;
    margin-right: 64px;
}

button.clear {
    background: transparent;
    border: 1px solid #2A3647;
    color: #2A3647;
    padding: 16px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.15s ease-in-out;
}

button.clear:hover {
    background: #2A3647;
    color: #fff;
}

button.create {
    background: #2A3647;
    color: white;
    border: none;
    padding: 16px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.15s ease-in-out;
}

button.create:hover {
    opacity: 0.9;
    background: #44b6e6;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

button.clear:hover {
    background-color: #fff;
    border-color: #44b6e6;
    color: #44b6e6;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.form-hint {
    font-size: 14px;
    margin-left: 16px;
    align-items: center;
    display: flex;
}

.required-marker {
    color: #FF3B30;
    margin-right: 4px;
}

.priority-buttons {
    display: flex;
    gap: 12px;
}

.priority-btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 16px;
    min-width: 48px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #fff;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}


.priority-btn img {
    width: 18px;
    height: 18px;
}

.priority-btn:hover {
    opacity: 0.9;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.priority-btn.active.urgent {
    background-color: #FF3B30;
    color: #fff;
}

.priority-btn.active.medium {
    background-color: #FFA800;
    color: #fff;
}

.priority-btn.medium img {
    filter: brightness(0) saturate(100%) invert(68%) sepia(92%) saturate(668%) hue-rotate(1deg) brightness(104%) contrast(103%);
}

.priority-btn.active.low {
    background-color: #7AE229;
    color: #fff;
}

.priority-btn.active img {
    filter: brightness(0) invert(1);
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: #A8A8A8;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #4fb9e7;
    outline: none;
    box-shadow: none;
}

.custom-select-container {
    position: relative; 
    width: 100%;
    margin-bottom: 16px;
}

.select-display {
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
}

.select-display:hover {
    border-color: #4fb9e7;
}

.select-dropdown {
    position: absolute;
    z-index: 100;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 2px;
    padding: 8px 0;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.1s;
    user-select: none;
}

.contact-item:hover {
    background-color: #f0f0f0;
}

.contact-item input[type="checkbox"] {
    margin-right: 12px;
    width: 18px; 
    height: 18px;
}




.contact-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}
.left-info {
  display: flex;
  align-items: center;
}
.user-circle-intials {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.contact-name {
  font-size: 16px;
}




.subtask-input-field {
    border: none;
}