* {
    font-family: 'Inter', sans-serif;
}

.contacts-wrapper {
    margin-left: 232px;
    margin-top: 96px;
    box-sizing: border-box;
    height: calc(100vh - 96px);
    border: 1px solid red;
    display: flex;
}

.main_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: calc(206px - 96px);
    margin-left: 30px;
    margin-bottom: 60px;
    height: 73px;
    width: 569px;
}

.h1_title_summary {
    font-size: 61px;
}

.title_discription {
    font-size: 27px;
}

.title_seperator {
    order: 0;
}

.contact-list-sidebar-outer {
    width: 456px;
    background-color: #FFFFFF;
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    padding: 32px 52px 0px 52px;
    overflow-y: scroll;
}

.add-contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px 24px;
    background-color: #2A3647;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.add-contact-btn:hover {
    background-color: var(--primary-hover);
    box-shadow: var(--shadow-hover);
}

.add-contact-btn:active {
    background-color: var(--primary-active);
}

.add-contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

.contact-list-letter {
    height: 58px;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-left: calc(24px + 14px);
}

.contact-list-separator {
    margin: 8px 0;
    height: 0px;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
}

.contact-list-card {
    display: flex;
    align-items: center;
    padding: 15px 24px;
    border-radius: 10px;
    gap: 35px;
    /* border: 1px solid purple; */
}

.contact-list-card:hover {
    background-image: linear-gradient(180deg, #F9F9F9, #F0F0F0);
}

.contact-list-card:focus {
    background-color: var(--primary);
}

.contact-list-circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
}




@media (max-width: 1200px) {

    /* CONTACTS.html */

    .main_title {
        flex-direction: column;
        align-items: flex-start;
    }

    .title_seperator img {
        transform: rotate(90deg);
    }

    .tile_summary {
        order: 1;
    }

    .title_summary_discription {
        order: 2;
    }

    .title_seperator {
        order: 3;
    }

    .contacts-wrapper {
        margin-left: 0px;
        margin-top: 80px;
        height: calc(100vh - 80px);
    }
}