* {
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
    color: unset;
}

.marker {
    border: 1px solid blue;
}

.flex {
    display: flex;
}

.gap-13 {
    gap: 13px;
}

.gap-56 {
    gap: 56px;
}

.align {
    align-items: center;
}

.column {
    flex-direction: column;
}

.contacts-wrapper {
    margin-left: 232px;
    margin-top: 96px;
    box-sizing: border-box;
    height: calc(100vh - 96px);
    display: flex;
}

.main_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 60px;
    height: 73px;
    width: 569px;
}

.h1_title_summary {
    font-size: 61px;
}

.title_discription {
    font-size: 27px;
}

.title_seperator {
    order: 0;
}

.contact-list-sidebar-outer {
    width: 456px;
    min-width: 456px;
    background-color: #FFFFFF;
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    padding: 32px 52px 0px 52px;
    overflow-y: scroll;
}

.add-contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px 24px;
    background-color: #2A3647;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
    transition: all 300ms ease-out;
}

.add-contact-btn:hover {
    background-color: var(--primary-hover);
    box-shadow: var(--shadow-hover);
}

.add-contact-btn:active {
    background-color: var(--primary-active);
}

.add-contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

.contact-list-card {
    display: flex;
    align-items: center;
    padding: 15px 24px;
    border-radius: 10px;
    gap: 35px;
    cursor: pointer;
}

.contact-list-card:hover {
    background-image: linear-gradient(180deg, #F9F9F9, #F0F0F0);
}

.contact-list-card-active {
    display: flex;
    align-items: center;
    padding: 15px 24px;
    border-radius: 10px;
    gap: 35px;
    cursor: pointer;
    color: var(--white);
    background-color: var(--primary);
}

.contact-list-card-active:hover {
    background-color: var(--primary);
}


.contact-list-letter {
    height: 58px;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-left: calc(24px + 14px);
}

.contact-list-separator {
    margin: 8px 0;
    height: 0px;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
}

.contact-list-name {
    font-size: 20px;
    margin-bottom: 5px;
}

.contact-large {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    margin-top: 60px;
    padding-left: 30px;
    gap: 22px;
    overflow-x: hidden;
    animation: floatFromRight 200ms ease-out forwards;
}

@keyframes floatFromRight {
	0% {
		transform: translateX(100%);
        opacity: 0;
	}
	100% {
		transform: translateX(0);
        opacity: 1;
	}
}

.contact-name-large{
    font-size: 47px;
}

.user-circle-large {
    min-width: 120px;
    min-height: 120px;
    font-size: 47px;
    border: 4px solid var(--white);
}

.contact-large button:hover{
    color: var(--primary-hover);
    font-weight: 700;
    cursor: pointer;
}

.contact-large button:focus {
    outline: var(--primary-active);
}


.contacts-edit-delete-buttons {
    display: flex;
    flex-direction: row;
    gap: 13px;
    align-items: center;
    border:none;
    background-color: unset;
}

.contact-head {
    padding: 30px 0;
    font-weight: 400;
    font-size: 20px;
}





@media(max-width: 1400px) {

    /* CONTACTS.html */
    .main_title {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
        width: unset;
    }

    .title_seperator img {
        transform: rotate(90deg);
        margin-left: 30px;
    }

    .tile_summary {
        order: 1;
    }

    .title_summary_discription {
        order: 2;
    }

    .title_seperator {
        order: 3;
    }
}

@media (max-width: 1200px) {

    /* CONTACTS.html */

    .contacts-wrapper {
        margin-left: 0px;
        margin-top: 80px;
        height: calc(100vh - 80px);
    }
    .title_seperator img {
        transform: rotate(90deg);
        margin-left: 0px;
    }
}