main.help-page {
  margin-top: 80px;
  margin-left: 232px;
  padding: 32px 40px !important; 
  position: relative;
  z-index: 1;
}

.help {
    display: flex;
    justify-content: space-between;
}

.left_arrow:hover {
    cursor: pointer;
    transform: translateY(-2px);
    transition: all 125ms ease-in-out;
    border-color: #29ABE2;
    outline: 1px solid;
}

.help_page {
    margin-left: 232px;
    margin-top: 96px;
    max-width: 1920px;
    width: calc(100% - 232px);
    background-color: #F6F7F8;
    min-height: calc(100vh - 96px);
    padding: 48px 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}