body {
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

.help-icon {
    display: none;
}


main.help-page {
    position: fixed;
    max-width: 1016px;
    top: 96px;
    left: 328px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: #F6F7F8;
    padding: 110px 16px 0 0;
}

main.help-page::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.help {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1014px;
    height: 73px;
    margin-bottom: 52px;
}



.left_arrow:hover {
    background-color: #e9e9e95b;
    transform: translate(-1px);
    border-radius: 50%;
}


.help_page {
    margin-left: 232px;
    margin-top: 96px;
    background-color: #F6F7F8;
    min-height: calc(100vh - 96px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


.help_page_txt_container {
    margin-bottom: 120px;
    padding-right: 16px;
}

.p_help_txt {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 16px;
}

.p_help_txt_blue {
    color: #29ABE2;
    font-weight: 500;
}

/* Fonts*/
.h1_help_page {
    font-size: 61px;
}

.h2_help_page {
    font-size: 27px;
    font-weight: 700;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 16px;
}

.h3_help_page {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 8px;
    margin-left: ;
}

.help-steps {
    padding-left: 20px;
    list-style: decimal;
}

.help-steps li {
    margin-bottom: 16px;
    padding-left: 24px;
}

.closing {
    font-size: 27px;
    font-weight: 700;
    color: #000000;
    margin-top: 40px;
}

li::marker {
    font-size: 20px;
    font-weight: 700;
}

@media (max-width: 834px) {
    main.help-page {
        padding: 110px 16px 0 0;
        left: 250px;
    }

    .header-left {
        margin-left: 250px;
    }

    .help_page_txt_container {
        width: calc(100vw - 282px);
    }
}

@media (max-width: 768px) {
    main.help-page {
        padding: 0px 16px 16px 16px;
        left: 0;
        top: 128px;
    }

    .help {
        margin-bottom: 35px;
    }

    .help_page_txt_container {
        width: 100%;
    }
}