main{
  position: fixed;
  top: 206px;
  left: 328px;
  right: 0;
  bottom: 0;
  overflow: auto; 
  padding: ;
}

/* Summary Title section */

.main_title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 73px;
  width: 625px;
}

.h1_title_summary{
    font-size: 61px;
}

.title_discription{
  font-size: 27px;
}

/* Summary Task Container */

.to_do_summary{
  height: 562px;
  width: 560px;
  top: 335px;
}




.div_icon {
  height: 69px;
  width: 69px;
  background-color: #2A3647;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div_icon img {
  height: 100%;
  width: 100%;
}

.container_information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers {
  font-size: 64px;
  font-weight: 600;
}

.numbers_txt {
  font-size: 20px;
  margin-top: -10px;
}

